@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container {
    width: 100%;
    max-width: 1140px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    padding-bottom: 50px;


}


.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-right: -15px;
    margin-left: -15px;
}


.col-1 {
    width: calc(100%/12);

}

.col-2 {
    width: calc(100%/12*2);
}

.col-3 {
    display: flex;
    align-items: center;
    gap: 10px;

    .lean {
      
        color: black;
        border: 1px solid;
        border-radius: 90px;
        box-sizing: border-box;
        cursor: pointer;
        font-size: 18px;

    }

    .lean2 {
        color: white;
        border: 1px solid;
        border-radius: 90px;
        box-sizing: border-box;
        cursor: pointer;
        background-color: #407BFF;
        font-size: 18px;
    }
}

.height-350 {
    height: 350px;
}

.col-4 {

    width: calc(100%/12*4);
    display: inline-block;


    .sub-title {
        color: #407BFF;
    }

    li div {
        display: flex;
    }

    span {
        color: #407BFF;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 700;

    }

    h2 {
        margin-bottom: 1.5rem;
        font-weight: 500;
        line-height: 1.2;
        font-size: 38px;
    }

    h5 {
        margin-bottom: 1.5rem;
        font-weight: 500;
        line-height: 1.2;
        font-size: 18px;
    }

}

.col-5 {
    width: calc(100%/12*5);
    text-align: center;
    gap: 15px;

    .lean {
        color: white;
        border: 2px solid;
        border-radius: 100px;
        box-sizing: border-box;
        cursor: pointer;
        box-sizing: border-box;
        border-radius: 15px;
        background-color: #407BFF;
        display: inline-block;
        justify-content: center;
    }

    .lean2 {
        border-radius: 17px;
        justify-content: center;
        display: inline-block;
        color: black;
        border: 1px solid;
        border-radius: 100px;
        box-sizing: border-box;
        cursor: pointer;
    }

}



.col-6 {
    width: calc(100%/12*6);
    max-width: 50%;
    display: flex;
}

.col-7 {
    width: calc(100%/12*7);
    position: relative;
    display: flex;
}

.col-8 {
    width: calc(100%/12*8);
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;


}

.col-9 {
    width: 75%;
}

.col-10 {
    width: calc(100%/12*10);
}

.col-11 {
    width: calc(100%/12*11);
}

.col-12 {
    width: 100%;
    margin: 20px;
}


.flex {
    display: flex;
}

.text-center {
    text-align: center;

    .btn-active {
        color: white;
        border: 1px solid;
        border-radius: 90px;
        box-sizing: border-box;
        cursor: pointer;
        height: 60px;

    }
}

.btn {
    background-color: #407BFF;

    color: white !important;

}

.text-right {
    text-align: right;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;

}

.justify-content-evenly {
    justify-content: space-evenly;
}

.relative {
    position: relative;
}

.cards_storage-1 {
    display: flex;
    margin: 5%;
}

.new-card-1 {

    .A-1 {
        border-radius: 1px solid;
        box-sizing: border-box;
        color: #407BFF;
        font-size: 13px;
        display: inline-block;
        position: relative;

        ::after,
        ::before {
            box-sizing: border-box;
        }
    }
}


.cards_storage {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icon-storage {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 30%;
    position: relative;
    color: #ffffff;
    margin-bottom: 1.5rem;
}


.cards_storage-1 {
    display: flex;
    flex-wrap: wrap;

}

.new-card-1 {
    padding: 50px;
    margin: 10px;
    width: 45%;
}


.new-card-2 {
    padding: 50px;
    margin: 10px;
    width: 45%;
}

#Hed-1 {

    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    width: 100%;
    padding: 100px 0;


    .Head {
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        color: #000000;

        p {
            text-align: center;

        }

    }

}

.btn-active {
    background-color: #407BFF;
    padding: 7px;
    
}

.blue-icon {
    background-color: #6fe7dd;
}


.yellow-icon {
    background-color: #ffc93c;
}

.red-icon {
    background-color: #f73859;
}

.dark-blue-icon {
    background-color: #407BFF;
}