@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: "Nunito", serif;
    color: #939393;
    line-height: 1.6;
}

.menu {
    display: flex;
    gap: 20px;
    padding-left: 20px;

    li {
        position: relative;

        ul {
            position: absolute;
            display: none;

        }
    }

    li:hover {
        ul {
            display: block;
        }
    }
}

p {
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
}

p {
    font-size: 15px;
    margin-bottom: 1rem;

}

#intro {
    overflow-x: hidden;
    padding-left: 10px;


    h1 {
        font-size: 60px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 30px;
    }


    .foto {

        text-transform: uppercase;
        letter-spacing: .05rem;
        vertical-align: middle;

        &:hover {
            background-color: #407BFF;
            color: #FFF;
            border-color: #407BFF;

        }
    }

}

.dots {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 300px;
    height: 260px;
    transform: translateX(60%);
    position: absolute;

}

#digital {
    padding-left: 10px;

    .subtitle {
        color: #407BFF;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 700;
    }

    h2 {
        margin-bottom: 1.5rem;
        font-weight: 500;
        line-height: 1.2;
        font-size: 38px;
    }

    ul {
        margin-bottom: 1.5rem
    }

    & ul {
        & li {
            i {
                color: #407BFF;
                margin-right: 10px;
            }
        }
    }

    .p2 {
        color: #000;
        font-style: italic;

    }
}

.client-card {

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 20px
    }

    h5 {
        font-weight: 400;
        font-size: 15px;
        margin-bottom: 3px;
    }
}

.service-big-image {

    cursor: pointer;
    box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.1);
    border: 10px solid #fff;
    position: relative;

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.5);
        display: inline-block;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        transform: translate(-50%, -50%);
    }

    i {
        color: #407BFF;
    }
}


&:hover {

    &::before {
        opacity: 1;
    }
}




.fa-solid,
.fas {
    font-weight: 900;
}


.fa-play {
    --fa: "\f04b";
}